<div class="modal-content row">
    <div class="modal-body">
        <div>
            <h4><strong>Delete vehicle make</strong></h4>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    Are you sure you want to delete {{make.Name}}?
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary" ng-click="DeleteMake(make.Id)">Delete</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>